@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-0 {
    transform: translateX(0%);
  }
  .slide-1 {
    transform: translateX(-100%);
  }
  .slide-2 {
    transform: translateX(-200%);
  }
  