@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-0 {
    transform: translateX(0%);
  }
  .slide-1 {
    transform: translateX(-100%);
  }
  .slide-2 {
    transform: translateX(-200%);
  }
  

  @layer components{
    .btn{
      @apply bg-[#ff4D41] text-white py-2 rounded inline-block mt-10
      font-medium border-[#ff4D41] hover:bg-transparent hover:text-[#ff4D41]
      transition duration-200
    }
  }

  
  
  .text-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    .bg-cover {
      height: 50vh;
    }
  }
  
  @media (max-width: 767px) {
    .bg-center {
      width: 100%;
      height: 250px;
    }
  }
  
 
  
 
  
  .text-center p {
    max-height: 150px; /* Ajusta el valor según lo que necesites */
  }
  